<div class="row content">
  <div class="col-sm-3">
    <p id="feedback">
      <span>You've selected:</span> <span id="select-result-spec-category">none</span>.
    </p>

    Специализация
    <div class="specializations">
      <ol id='selectable'>
        <% @specializations.each do |specialization| %>
          <li class='ui-widget-content' data-specid='<%= specialization.id %>'>
            <%= specialization.title %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="col-sm-3">
    Doctors
    <div id="doctors" class="doctors">
    Нужно очистить
    </div>
  </div>

  <div class="col-sm-4">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>

  <div class="col-sm-2">
    <%= render 'records/render_records' %>
  </div>

</div>
