<div class="col-sm-4">
<%= image_tag('ava150.jpg', size: '150x150', alt: 'Avatarka') %>
<hr>
<br>
<ul>
  <li><%= current_patient.email %></li>
  <li><%= current_patient.name %></li>
  <li><%= current_patient.born %></li>
  <li><%= link_to 'Изменить данные', patients_edit_path(current_patient), class: 'btn btn-success' %></li>
</ul>
</div>

<div class="col-sm-8">
  <table>
    <tr>
      <th style="width: 10px;">id</th>
      <th style="width: 80px;">when</th>
      <th style="width: 120px;">на когда запись</th>
      <th style="width: 50px;">spec</th>
      <th style="width: 120px;">doctor</th>
      <th style="width: 50px;">Share to GoogleCalendar</th>
    </tr>
    <% @records.each do |record| %>
      <tr>
        <td style="width: 10px;"><%= record.id %> </td>
        <td style="width: 80px;"><%= record.created_at.strftime('%F') %></td>
        <td style="width: 120px;"><%= record.date_start.strftime('%Y-%m-%d %k:%M') %></td>
        <td style="width: 50px;"><%= record.doctor.specialization.title  %></td>
        <td style="width: 120px;"><%= record.doctor.first_name + ' ' + record.doctor.last_name %></td>
        <!-- <td style="width: 50px;"><%#= link_to 'add event to GC', new_event_path(session[:calendar_id]), record_id: record.id, method: 'POST' %></td> -->

        <td style="width: 50px;">
          <%= link_to 'add event to GC', { controller: 'google_auths',
                                           action: 'new_event',
                                           record_id: record.id,
                                           calendar_id: session[:calendar_id] },
                                        method: 'POST' if record.date_start >= Time.now %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
